APP_NAME="Impact Academy"
APP_TIMEZONE="America/Sao_Paulo"
APP_BASE_PATH=""

DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="impact_academy"
DB_USER="root"
DB_PASS=""
DB_CHARSET="utf8mb4"
DB_SOCKET=""



APP_NAME="Impact Academy"
APP_TIMEZONE="America/Sao_Paulo"
APP_BASE_PATH=""

DB_HOST="sqlXXX.infinityfree.com"
DB_PORT="3306"
DB_NAME="epiz_XXXXXXXX"
DB_USER="epiz_XXXXXXXX"
DB_PASS="SUA_SENHA"
DB_CHARSET="utf8mb4"
DB_SOCKET=""